<img src="../../../../../assets/images/cultivo_papa_login.jpg" class="position-absolute w-100 img-login">
<div class="container montserrat-medium mb-5 pt-4">
    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 card auth-card px-sm-3">
        <div class="card-header text-center pt-3">
            <h4>REGISTRO DE USUARIO</h4>
        </div>
        <div class="card-body">
            <form (ngSubmit)="SendRegister()" [formGroup]="Form.Register" novalidate>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label mb-2" for="Nombres">Nombres(s)</label>
                        <div class="input-group input-group">
                            <input type="text" formControlName="Nombres" class="form-control" [ngClass]="{ 'is-invalid': Form.Nombres.ShowMsg }" placeholder="..." autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Nombres.ShowMsg }}</span>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label class="form-label mb-2" for="Apellidos">Apellido(s)</label>
                        <div class="input-group input-group">
                            <input type="text" formControlName="Apellidos" class="form-control" [ngClass]="{ 'is-invalid': Form.Apellidos.ShowMsg }" placeholder="..." autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Apellidos.ShowMsg }}</span>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <label class="form-label mb-2" for="Usuario">Usuario</label>
                        <div class="input-group input-group">
                            <input type="text" formControlName="Usuario" class="form-control" [ngClass]="{ 'is-invalid': Form.Usuario.ShowMsg }" placeholder="..." autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Usuario.ShowMsg }}</span>
                        </div>
                        <small class="fst-italic text-secondary">(Este será el usuario con el que vas a ingresar al sistema)</small>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <label class="form-label mb-2" for="Correo">Correo</label>
                        <div class="input-group input-group">
                            <input type="text" formControlName="Correo" class="form-control" [ngClass]="{ 'is-invalid': Form.Correo.ShowMsg }" placeholder="ejemplo@correo.com" autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Correo.ShowMsg }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-6 mb-4">
                        <label class="form-label mb-2" for="Contrasena">Contraseña</label>
                        <div class="input-group input-group">
                            <input type="password" formControlName="Contrasena" class="form-control" id="Contrasena" [ngClass]="{ 'is-invalid': Form.Contrasena.ShowMsg }" placeholder="********" autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Contrasena.ShowMsg }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-5">
                        <label class="form-label mb-2" for="ConfirmarContrasena">Confirma la contraseña</label>
                        <div class="input-group input-group">
                            <input type="password" formControlName="ConfirmarContrasena" class="form-control" id="ConfirmarContrasena" 
                            [ngClass]="{ 'is-invalid': Form.ConfirmarContrasena.ShowMsg }" placeholder="********" autocomplete="off"/>
                            <span class="invalid-feedback">{{ Form.ConfirmarContrasena.ShowMsg }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid mb-3">
                        <button [disabled]="loading" class="btn general-btn btn-custom-transition">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>