<img src="../../../../../assets/images/cultivo_papa_login.jpg" class="position-absolute w-100 img-login">
<div class="container montserrat-medium mb-5 pt-5">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 px-sm-3 card auth-card">
        <div class="text-center pt-1">
            <img src="../../../../../assets/images/PapApp_Logo.jpg" class="w-50">
            <hr>
        </div>
        <div class="card-body">
            <form (ngSubmit)="SendLogin()" [formGroup]="Form.Login" novalidate>
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <div class="input-group input-group">
                            <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': Form.UserName.ShowMsg }" placeholder="Ingresa tu usuario" autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.UserName.ShowMsg }}</span>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <div class="input-group input-group">
                            <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': Form.Password.ShowMsg }" placeholder="Ingresa tu contraseña" autocomplete="off" />
                            <span class="invalid-feedback">{{ Form.Password.ShowMsg }}</span>
                        </div>
                        <div class="text-muted mt-2">
                            <small>
                                <a [routerLink]="['.']" class="fst-italic text-secondary text-decoration-none">Olvidé mi contraseña</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid mb-3">
                        <button [disabled]="loading" class="btn general-btn">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Ingresar
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="text-muted mt-2 text-center mb-1">
                    <small>
                        <a class="fst-italic text-muted text-decoration-none">¿Aún no tienes usuario?</a>
                    </small>
                </div>
                <div class="d-grid mb-2">
                    <button [routerLink]="['/auth/register']" class="btn general-btn">Quiero registrarme</button>
                </div>
            </div>
        </div>
    </div>
</div>