.img-logo {
    width: 17%;
}

.custom-nav {
    background: #d0e5d2;
    box-shadow: 3px 5px 10px lightgrey;
    max-height: 5rem;
}

@media (max-width: 677px) {
    .img-logo {
        width: 40%;
    }
}

.sidebar {
    background: linear-gradient(0deg, #d0e5d2, #fff);
    overflow: hidden;
    max-height: 5rem;
    border-bottom-right-radius: 70px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    transition-property: top,bottom, width;
    transition-duration: .2s,.2s,.35s;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    z-index: 9999;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
}

.li-sidebar-bars {
    height: 5rem;
    padding: .5rem 1.5rem;
}

.sidebar-open { 
    width: 250px; 
    max-height: max-content;
}

.sidebar-close { width: 100px; }

.icon-close-sidebar {
    background: rgba(0, 0, 0, .2);
    padding: 20px 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar a p, li p, .content-close-sidebar, .sidebar .nav li a {
    cursor: pointer;
    color: rgba(0,0,0,.7);
}
.content-close-sidebar {
    right: 0;
}

.sidebar .nav {
    display: block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar .nav li a {
    margin: 10px 17px 0;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    padding: 10px 6px;
    line-height: 1.625rem;
}

.nav li a:hover {
    background: rgba(0,0,0,.1);
}

.sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    position: relative;
}

.sidebar a p, li p {
    margin: 0;
    line-height: 30px;
    height: auto;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .7142em;
    line-height: 1.625rem;
    padding: 0.2rem;
}

.nav li .icon-salir {
    color: #e74c3c;
}