<nav class="navbar fixed-top custom-nav">
    <div class="col-md-12 text-center">
        <img src="../../../../../assets/images/PapApp_Logo_Header.png" class="img-logo mx-2">
    </div>    
</nav>
<div id="sidebar" class="sidebar" (mouseover)="toggleSidebar(true)" (mouseout)="toggleSidebar(false)" [ngClass]="{ 'sidebar-open': expandirMenu, 'sidebar-close': !expandirMenu }">
    <div class="position-absolute content-close-sidebar" [hidden]="!expandirMenu" (click)="toggleSidebar(false)">
        <i class="fas fa-angle-double-left text-dark icon-close-sidebar"></i>
    </div>
    <ul class="nav">
        <li class="li-sidebar-bars py-4" (click)="toggleSidebar(true)">
            <i class="fas fa-bars text-success"></i>
            <p [hidden]="!expandirMenu" style="margin: 0; padding: 0.2rem;">NOMBRE DE USUARIO</p>
        </li>
        <li>
            <a [routerLink]="['/']">
                <i class="fas fa-home"></i>
                <p>INICIO</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/fases-cultivo']">
                <i class="fas fa-tractor"></i>
                <p>NUEVO PROCESO DE CULTIVO</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/fases-cultivo']">
                <i class="fas fa-tractor"></i>
                <p>MIS COSECHAS</p>
            </a>
        </li>
        <li>
            <a (click)="logout()">
                <i class="fas fa-sign-out-alt icon-salir"></i>
                <p>SALIR</p>
            </a>
        </li>
    </ul>
</div>