<footer>
    <div class="position-absolute custom-footer pt-2 pb-1">
        <div class="col-md-12 text-center">
            <img src="../../../../assets/images/Logo_Universidad.png" alt="Universidad" class="img-fluid"><br>
            <small class="text-muted"><label>Copyright (©) 2021</label></small>
        </div>        
    </div>
</footer>