<div class="row">
    <div class="col-md-12 text-center text-muted mt-4 titulo-fases-cultivo">
        <h4 class="montserrat-bold"><strong>{{TituloFase}}</strong></h4>
    </div>
</div>
<ng-container *ngIf="fases?.FaseActiva == FASES_CULTIVO.LISTA_FASES">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="pb-2 text-muted">
                <small><em><strong>Selecciona la fase para la cual deseas calcular los costos:</strong></em></small>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/siembra.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0" (click)="CargarFase(FASES_CULTIVO.FASE_SIEMBRA_1)"><strong>SIEMBRA</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/crecimiento.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0" (click)="CargarFase(FASES_CULTIVO.FASE_CRECIMIENTO)"><strong>CRECIMIENTO</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/deshierba.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0" (click)="CargarFase(FASES_CULTIVO.FASE_DESHIERBA)"><strong>DESHIERBA</strong></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/aporque.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>APORQUE</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/cultivo_papa_home.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>FLORACIÓN</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/madurez.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>MADUREZ</strong></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/riego.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>RIEGO</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/cosecha.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>COSECHA</strong></button>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/costos_totales.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>COSTOS TOTALES</strong></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 my-2">
            <div class="p-0 position-relative content-fase-cultivo" style="background-image: url(../../../../assets/images/fases-cultivo/venta.jpg); background-size: cover;">
                <div class="img-fase-cultivo w-100"></div>
                <button class="position-absolute btn btn-fase-cultivo py-5 text-center w-100 top-0 start-0"><strong>PUNTO DE EQUILIBRIO Y PRECIOS DE VENTA</strong></button>
            </div>
        </div>
    </div>
</ng-container>
<ng-container>
    <app-fase-siembra *ngIf="
        fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_1 || 
        fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_2 ||
        fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_3 ||
        fases?.FaseActiva == FASES_CULTIVO.TOTAL_FASE_SIEMBRA"
        (CargarFaseEvent)="CargarFase($event)">
    </app-fase-siembra>

    <app-fase-crecimiento *ngIf="
        fases?.FaseActiva == FASES_CULTIVO.FASE_CRECIMIENTO || 
        fases?.FaseActiva == FASES_CULTIVO.TOTAL_FASE_CRECIMIENTO"
        (CargarFaseEvent)="CargarFase($event)">
    </app-fase-crecimiento>

    <app-fase-deshierba *ngIf="
        fases?.FaseActiva == FASES_CULTIVO.FASE_DESHIERBA || 
        fases?.FaseActiva == FASES_CULTIVO.TOTAL_FASE_DESHIERBA"
        (CargarFaseEvent)="CargarFase($event)">
    </app-fase-deshierba>
</ng-container>