.titulo-fases-cultivo {
    border-bottom: 3px solid #d0e5d2;    
}

.content-fase-cultivo {
    transition: .5s;
}

.content-fase-cultivo:hover {
    transform: translateY(-10px);
}

.img-fase-cultivo {
    height: 122px;
}

.btn-fase-cultivo {
    box-shadow: 3px 2px 5px grey;
    background: rgb(208, 229, 210, .5);
    font-weight: bolder;
    max-height: 122px;
}