<div class="container view-container">
    <div class="col-md-12">
        <app-header></app-header>
    </div>
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-12">
        <app-footer></app-footer>
    </div>
</div>