.home-img {
    border-radius: 20px;
    width: 100%;
    content: url(../../../../assets/images/cultivo_papa_home.jpg);
}

.home-description {
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 20px;
    background: linear-gradient(0deg, transparent, #fff);
    box-shadow: 3px 5px 15px #d8a2d7;
    color: #2c3e50;
    font-weight: bolder;
    font-size: x-large;
    padding: 1rem;
    width: 50%;
    height: 100%;
    text-align: right;
}

@media (max-width: 768px) {
    .home-img {
        content: url(../../../../assets/images/cultivo_papa_home_mobile.jpg);
    }

    .home-description {
        font-size: small;
        width: 100%;
    }
}

.container-fases-cultivo {
    border-radius: 30px;
    box-shadow: 3px 3px 10px #000;
}

.btn-fases-cultivo {
    bottom: -1.5rem;
    transition: .5s;
    cursor: pointer;
}

.btn-fases-cultivo button {
    border-radius: 30px;
    border-bottom: 4px solid #d0e5d2;
    box-shadow: 3px 3px 10px grey;
}

.btn-fases-cultivo:hover {
    transform: translateY(-10px);
}