<div class="col-md-12 position-relative">
    <div class="col-md-12 home-img">
        <img src="" class="w-100">
    </div>
    <div class="col-md-12 position-absolute home-description">
        <p>¡BIENVENIDO! <br><br> TE AYUDAREMOS A CALCULAR LOS COSTOS DE PRODUCCIÓN DE TU CULTIVO.</p>
    </div>
    <div class="col-md-4 offset-md-4 position-absolute btn-fases-cultivo text-center">
        <button class="btn btn-light w-75" [routerLink]="['/fases-cultivo']">
            <img src="../../../../assets/images/btn-fases-cultivo.png" class="w-100">
        </button>
    </div>
</div>