<form [formGroup]="Form.FaseDeshierbaForm" novalidate (ngSubmit)="SendFaseDeshierbaForm()" id="Form" *ngIf="fases?.FaseActiva == FASES_CULTIVO.FASE_DESHIERBA">
    <div formArrayName="Deshierbas">
        <ng-container *ngFor="let Deshierba of Form.DeshierbasFormArray().controls; let i=index">
            <div [formGroupName]="i">
                <div class="row card my-2" [hidden]="Form.DeshierbaActiva != i">
                    <div class="card-header text-muted pb-0">
                        <h6 class="p-2 fw-bold">DESHIERBA # {{ i + 1 }}
                            <a *ngIf="i != 0" class="text-decoration-none text-danger float-end btn-custom-transition form-btn-right" (click)="EliminarDeshierba(i)" role="button">
                                <i class="fas fa-trash"></i><small class="d-none d-md-inline">   Eliminar Deshierba</small>
                            </a>
                        </h6>
                    </div>
                    <div formArrayName="Insecticidas">
                        <div class="col-md-12 mt-3 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>INSECTICIDAS</strong></h6>
                        </div>
                        <ng-container *ngFor="let Insecticida of Form.InsecticidasFormArray(Deshierba).controls; let j=index">
                            <div class="card my-3" [formGroupName]="j">
                                <div class="card-header papapp-text-dark pb-0">
                                    <h6><strong>Insecticida # {{ j + 1 }}</strong>
                                        <a *ngIf="j != 0" class="text-decoration-none text-danger float-end btn-custom-transition form-btn-right" (click)="EliminarInsumo(Form.InsecticidasFormArray(Deshierba), i, j)" role="button">
                                            <i class="fas fa-trash"></i><strong class="d-none d-md-inline"><small>   Eliminar Insecticida</small></strong>
                                        </a>
                                    </h6>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-3 my-2">
                                        <label class="form-label text-secondary"><strong>Nombre del Insecticida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Nombre" class="form-control"
                                            [ngClass]="{ 'is-invalid': Form.GetErrorMessageByControl(Insecticida.get('Nombre')!) }" placeholder="..." autocomplete="off" />
                                            <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Insecticida.get('Nombre')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo por litro</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Costo" class="form-control InputMoney"
                                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false" 
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Insecticida.get('Costo')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Insecticida.get('Costo')!)" autocomplete="off" placeholder="$"
                                                (blur)="TransformAmount(Insecticida.get('Costo')!.value, $event.target)"
                                                (keyup)="CalcularTotalInsumo(Insecticida, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Insecticida.get('Costo')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Cantidad en litros</strong></label>
                                        <div class="input-group input-group">
                                            <input type="number" formControlName="Litros" class="form-control"
                                            onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off" placeholder="#"
                                            [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Insecticida.get('Litros')!) }"
                                            (keyup)="CalcularTotalInsumo(Insecticida, i)" (change)="CalcularTotalInsumo(Insecticida, i)">
                                            <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Insecticida.get('Litros')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo total de Insecticida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Total" class="form-control InputMoney"
                                                onCopy="return false" onPaste="return false" autocomplete="off" placeholder="$"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Insecticida.get('Total')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Insecticida.get('Total')!)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Insecticida.get('Total')!) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-12 my-3 my-md-0">
                        <a class="text-decoration-none text-success float-end btn-custom-transition form-btn-right" (click)="Form.AgregarInsumo(Form.InsecticidasFormArray(Deshierba))" role="button">
                            <i class="fas fa-plus"></i><strong><small>   Agregar Insecticida</small></strong>
                        </a>
                    </div>
                    <br>
                    <div formArrayName="Plaguicidas">
                        <div class="col-md-12 mt-3 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>PLAGUICIDAS</strong></h6>
                        </div>
                        <ng-container *ngFor="let Plaguicida of Form.PlaguicidasFormArray(Deshierba).controls; let j=index">
                            <div class="card my-3" [formGroupName]="j">
                                <div class="card-header papapp-text-dark pb-0">
                                    <h6><strong>Plaguicida # {{ j + 1 }}</strong>
                                        <a *ngIf="j != 0" class="text-decoration-none text-danger float-end btn-custom-transition form-btn-right" (click)="EliminarInsumo(Form.PlaguicidasFormArray(Deshierba), i, j)" role="button">
                                            <i class="fas fa-trash"></i><strong class="d-none d-md-inline"><small>   Eliminar Plaguicida</small></strong>
                                        </a>
                                    </h6>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-3 my-2">
                                        <label class="form-label text-secondary"><strong>Nombre del Plaguicida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Nombre" class="form-control"
                                            [ngClass]="{ 'is-invalid': Form.GetErrorMessageByControl(Plaguicida.get('Nombre')!) }" placeholder="..." autocomplete="off">
                                            <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Plaguicida.get('Nombre')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo por litro</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Costo" class="form-control InputMoney"
                                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Plaguicida.get('Costo')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Plaguicida.get('Costo')!)" autocomplete="off" placeholder="$"
                                                (blur)="TransformAmount(Plaguicida.get('Costo')!.value, $event.target)"
                                                (keyup)="CalcularTotalInsumo(Plaguicida, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Plaguicida.get('Costo')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Cantidad en litros</strong></label>
                                        <div class="input-group input-group">
                                            <input type="number" formControlName="Litros" class="form-control"
                                            onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Plaguicida.get('Litros')!) }" placeholder="#"
                                                (keyup)="CalcularTotalInsumo(Plaguicida, i)" (change)="CalcularTotalInsumo(Plaguicida, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Plaguicida.get('Litros')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo total de Plaguicida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Total" class="form-control InputMoney"
                                                onCopy="return false" onPaste="return false"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Plaguicida.get('Total')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Plaguicida.get('Total')!)" autocomplete="off" placeholder="$">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Plaguicida.get('Total')!) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-12 my-3 my-md-0">
                        <a class="text-decoration-none text-success float-end btn-custom-transition form-btn-right" (click)="Form.AgregarInsumo(Form.PlaguicidasFormArray(Deshierba))" role="button">
                            <i class="fas fa-plus"></i><strong><small>   Agregar Plaguicida</small></strong>
                        </a>
                    </div>
                    <br>
                    <div formArrayName="Fungicidas">
                        <div class="col-md-12 mt-3 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>FUNGICIDAS</strong></h6>
                        </div>
                        <ng-container *ngFor="let Fungicida of Form.FungicidasFormArray(Deshierba).controls; let j=index">
                            <div class="card my-3" [formGroupName]="j">
                                <div class="card-header papapp-text-dark pb-0">
                                    <h6><strong>Fungicida # {{ j + 1 }}</strong>
                                        <a *ngIf="j != 0" class="text-decoration-none text-danger float-end btn-custom-transition form-btn-right" (click)="EliminarInsumo(Form.FungicidasFormArray(Deshierba), i, j)" role="button">
                                            <i class="fas fa-trash"></i><strong class="d-none d-md-inline"><small>   Eliminar Fungicida</small></strong>
                                        </a>
                                    </h6>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-3 my-2">
                                        <label class="form-label text-secondary"><strong>Nombre del Fungicida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Nombre" class="form-control"
                                            [ngClass]="{ 'is-invalid': Form.GetErrorMessageByControl(Fungicida.get('Nombre')!) }" placeholder="..." autocomplete="off">
                                            <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fungicida.get('Nombre')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo por litro</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Costo" class="form-control InputMoney"
                                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fungicida.get('Costo')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Fungicida.get('Costo')!)" autocomplete="off" placeholder="$"
                                                (blur)="TransformAmount(Fungicida.get('Costo')!.value, $event.target)"
                                                (keyup)="CalcularTotalInsumo(Fungicida, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fungicida.get('Costo')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Cantidad en litros</strong></label>
                                        <div class="input-group input-group">
                                            <input type="number" formControlName="Litros" class="form-control"
                                            onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fungicida.get('Litros')!) }" placeholder="#"
                                                (keyup)="CalcularTotalInsumo(Fungicida, i)" (change)="CalcularTotalInsumo(Fungicida, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fungicida.get('Litros')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo total de Fungicida</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Total" class="form-control InputMoney"
                                                onCopy="return false" onPaste="return false"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fungicida.get('Total')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Fungicida.get('Total')!)" autocomplete="off" placeholder="$">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fungicida.get('Total')!) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-12 my-3 my-md-0">
                        <a class="text-decoration-none text-success float-end btn-custom-transition form-btn-right" (click)="Form.AgregarInsumo(Form.FungicidasFormArray(Deshierba))" role="button">
                            <i class="fas fa-plus"></i><strong><small>   Agregar Fungicida</small></strong>
                        </a>
                    </div>
                    <br>
                    <div formArrayName="Fertilizantes">
                        <div class="col-md-12 mt-3 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>FERTILIZANTES LIQUIDOS</strong></h6>
                        </div>
                        <ng-container *ngFor="let Fertilizante of Form.FertilizantesFormArray(Deshierba).controls; let j=index">
                            <div class="card my-3" [formGroupName]="j">
                                <div class="card-header papapp-text-dark pb-0">
                                    <h6><strong>Fertilizante líquido # {{ j + 1 }}</strong>
                                        <a *ngIf="j != 0" class="text-decoration-none text-danger float-end btn-custom-transition form-btn-right" (click)="EliminarInsumo(Form.FertilizantesFormArray(Deshierba), i, j)" role="button">
                                            <i class="fas fa-trash"></i><strong class="d-none d-md-inline"><small>   Eliminar Fertilizante</small></strong>
                                        </a>
                                    </h6>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-3 my-2">
                                        <label class="form-label text-secondary"><strong>Nombre del Fertilizante</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Nombre" class="form-control"
                                            [ngClass]="{ 'is-invalid': Form.GetErrorMessageByControl(Fertilizante.get('Nombre')!) }" placeholder="..." autocomplete="off" />
                                            <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fertilizante.get('Nombre')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo por litro</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Costo" class="form-control InputMoney"
                                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fertilizante.get('Costo')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Fertilizante.get('Costo')!)" autocomplete="off" placeholder="$"
                                                (blur)="TransformAmount(Fertilizante.get('Costo')!.value, $event.target)"
                                                (keyup)="CalcularTotalInsumo(Fertilizante, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fertilizante.get('Costo')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Cantidad en litros</strong></label>
                                        <div class="input-group input-group">
                                            <input type="number" formControlName="Litros" class="form-control"
                                            onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fertilizante.get('Litros')!) }" placeholder="#"
                                                (keyup)="CalcularTotalInsumo(Fertilizante, i)" (change)="CalcularTotalInsumo(Fertilizante, i)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fertilizante.get('Litros')!) }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 my-2">
                                        <label class="form-label text-secondary"><strong>Costo total de Fertilizante</strong></label>
                                        <div class="input-group input-group">
                                            <input type="text" formControlName="Total" class="form-control InputMoney"
                                                onCopy="return false" onPaste="return false" autocomplete="off" placeholder="$"
                                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Fertilizante.get('Total')!) }"
                                                [attr.data-field-index]="Form.GetIndexByControl(Fertilizante.get('Total')!)">
                                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Fertilizante.get('Total')!) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-12 my-3 my-md-0">
                        <a class="text-decoration-none text-success float-end btn-custom-transition form-btn-right" (click)="Form.AgregarInsumo(Form.FertilizantesFormArray(Deshierba))" role="button">
                            <i class="fas fa-plus"></i><strong><small>   Agregar Fertilizante</small></strong>
                        </a>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 mt-5 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>FERTILIZANTE GRANULADO</strong></h6>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Costo por bulto (50Kg)</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="CostoFertilizanteGranulado" class="form-control InputMoney"
                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('CostoFertilizanteGranulado')!) }" 
                                (blur)="TransformAmount(Deshierba.get('CostoFertilizanteGranulado')!.value, $event.target)"
                                (keyup)="CalcularTotalInsumos(i, CalcularTotalFertilizantesGran(Deshierba))" autocomplete="off" placeholder="$"
                                [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('CostoFertilizanteGranulado')!)">
                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('CostoFertilizanteGranulado')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Costo de transporte</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="CostoTransporteFertilizanteGranulado" class="form-control InputMoney"
                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('CostoTransporteFertilizanteGranulado')!) }"
                                (blur)="TransformAmount(Deshierba.get('CostoTransporteFertilizanteGranulado')!.value, $event.target)"
                                (keyup)="CalcularTotalInsumos(i, CalcularTotalFertilizantesGran(Deshierba))" autocomplete="off" placeholder="$ Costo por bulto"
                                [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('CostoTransporteFertilizanteGranulado')!)">
                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('CostoTransporteFertilizanteGranulado')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Cantidad de bultos</strong></label>
                            <div class="input-group input-group">
                                <input type="number" formControlName="BultosFertilizanteGranulado" class="form-control"
                                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                                    [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('BultosFertilizanteGranulado')!) }"
                                    (keyup)="CalcularTotalInsumos(i, CalcularTotalFertilizantesGran(Deshierba))" (change)="CalcularTotalInsumos(i, CalcularTotalFertilizantesGran(Deshierba))">
                                    <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('BultosFertilizanteGranulado')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Costo total</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="TotalFertilizanteGranulado" class="form-control InputMoney"
                                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                    [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('TotalFertilizanteGranulado')!) }" autocomplete="off"
                                    [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('TotalFertilizanteGranulado')!)" placeholder="$">
                                    <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('TotalFertilizanteGranulado')!) }}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-3 my-2">
                        <label class="form-label text-secondary"><strong>Costo total de Insumos</strong></label>
                        <div class="input-group input-group">
                            <input type="text" formControlName="TotalInsumos" class="form-control InputMoney"
                                onCopy="return false" onPaste="return false" autocomplete="off" placeholder="$"
                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('TotalInsumos')!) }" 
                                [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('TotalInsumos')!)">
                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('TotalInsumos')!) }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-5 papapp-text-dark">
                            <h6 class="p-2 titulo-form"><strong>JORNALES</strong></h6>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Valor del Jornal</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="CostoJornal" class="form-control InputMoney"
                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('CostoJornal')!) }" 
                                (blur)="TransformAmount(Deshierba.get('CostoJornal')!.value, $event.target)"
                                (keyup)="CalcularTotalJornales(Deshierba)" autocomplete="off" placeholder="$"
                                [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('CostoJornal')!)">
                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('CostoJornal')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Costo de alimentación</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="CostoAlimentacionJornal" class="form-control InputMoney"
                                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('CostoAlimentacionJornal')!) }"
                                (blur)="TransformAmount(Deshierba.get('CostoAlimentacionJornal')!.value, $event.target)"
                                (keyup)="CalcularTotalJornales(Deshierba)" autocomplete="off" placeholder="$"
                                [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('CostoAlimentacionJornal')!)">
                                <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('CostoAlimentacionJornal')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Cantidad de Jornales</strong></label>
                            <div class="input-group input-group">
                                <input type="number" formControlName="CantidadJornales" class="form-control"
                                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                                    [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('CantidadJornales')!) }"
                                    (keyup)="CalcularTotalJornales(Deshierba)" (change)="CalcularTotalJornales(Deshierba)">
                                    <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('CantidadJornales')!) }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 my-2">
                            <label class="form-label text-secondary"><strong>Costo total de Jornales</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="TotalJornales" class="form-control InputMoney"
                                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                                    [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('TotalJornales')!) }" autocomplete="off"
                                    [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('TotalJornales')!)" placeholder="$">
                                    <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('TotalJornales')!) }}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <label class="form-label text-secondary"><strong>Otros</strong></label>
                            <div class="input-group input-group">
                                <input type="text" formControlName="Otros" class="form-control InputMoney"
                                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                                    [ngClass]="{'is-invalid': Form.GetErrorMessageByControl(Deshierba.get('Otros')!) }"
                                    (blur)="TransformAmount(Deshierba.get('Otros')!.value, $event.target)" placeholder="$"
                                    [attr.data-field-index]="Form.GetIndexByControl(Deshierba.get('Otros')!)">
                                    <span class="invalid-feedback">{{ Form.GetErrorMessageByControl(Deshierba.get('Otros')!) }}</span>
                            </div>
                            <small class="form-label fst-italic">(Combustible, alquiler de máquina, etc)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3 my-2 py-3 text-center">
                            <div class="col-md-12 papapp-bg-light content-total-fase fs-4">
                                <div class="col-md-12">
                                    <label class="form-label papapp-text-dark"><strong>COSTO TOTAL DE DESHIERBA</strong></label>
                                </div>
                                <div class="col-md-12">
                                    <label class="papapp-text-dark">
                                        <strong>{{TransformAmount(CalcularTotal({
                                            Valores: [
                                                Deshierba.get('TotalJornales')!.value,
                                                Deshierba.get('TotalInsumos')!.value,
                                                Deshierba.get('Otros')!.value
                                            ],
                                            TipoCalculo: TIPO_CALCULO.SUMA
                                          }).toString())}}
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 offset-md-3 d-grid my-3" *ngIf="Form.DeshierbaActiva > 0">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="CambiarFormDeshierba(true)">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0">
                        <strong>Deshierba anterior</strong>
                    </div>
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark" (click)="CambiarFormDeshierba()">
                <div class="row position-relative">
                    <ng-container *ngIf="(Form.DeshierbasFormArray().length - 1) == Form.DeshierbaActiva">
                        <div class="col-md-8 offset-md-2 p-0">
                            <strong>Agregar Deshierba</strong>
                        </div>
                        <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-plus"></i></div>
                    </ng-container>
                    <ng-container *ngIf="Form.DeshierbasFormArray().length != 1 && (Form.DeshierbasFormArray().length - 1) != Form.DeshierbaActiva">
                        <div class="col-md-8 offset-md-2 p-0">
                            <strong>Sig. Deshierba</strong>
                        </div>
                        <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                    </ng-container>
                </div>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="SendFaseDeshierbaForm(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Fase anterior</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Finalizar</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>
</form>

<div *ngIf="fases?.FaseActiva == FASES_CULTIVO.TOTAL_FASE_DESHIERBA">
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <table class="table table-striped border">
                <thead>
                  <tr>
                    <th scope="col" class="papapp-text-dark">DESHIERBA</th>
                    <th scope="col" class="papapp-text-dark">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-secondary" *ngFor="let Deshierba of Form.DeshierbasFormArray().controls; let i=index">
                    <th scope="row">DESHIERBA # {{ i + 1 }} </th>
                    <td>{{TransformAmount(CalcularTotal({
                        Valores: [
                            Deshierba.get('TotalJornales')!.value,
                            Deshierba.get('TotalInsumos')!.value,
                            Deshierba.get('Otros')!.value
                        ],
                        TipoCalculo: TIPO_CALCULO.SUMA
                      }).toString())}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6 offset-md-3 my-2 py-3 text-center">
            <div class="col-md-12 papapp-bg-light content-total-fase fs-4">
                <div class="col-md-12">
                    <label class="form-label papapp-text-dark"><strong>COSTO TOTAL</strong></label>
                </div>
                <div class="col-md-12">
                    <label class="papapp-text-dark">
                        <strong>0
                        </strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="Finalizar(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Volver</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark" (click)="Finalizar()">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Siguiente fase</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>    
</div>