<div *ngIf="alerts.length" class="container-fluid alert-container" [ngClass]="showAsModal? 'alert-container-modal' : ''">
    <div *ngFor="let alert of alerts" class="{{cssClasses(alert)}} box-alert text-center">
        <div class="d-flex">
            <div class="flex-grow-1 bd-highlight">
                <h6>{{ alert.Title }}</h6>
            </div>
            <div><a class="text-decoration-none close text-muted" (click)="removeAlert(alert)">X</a></div>
        </div>
        <hr>
        <span [innerHTML]="alert.Description"></span><br>
    </div>
</div>