.alert-container {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    z-index: 1;
}

.alert-container-modal {
    background: rgba(0, 0, 0, 0.4);
}

.close {
    cursor: pointer;
}

.box-alert {
    position: absolute;
    max-width: 345px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.up-left {
    top: 1rem;
    left: 1rem;
}

.up-right {
    top: 1rem;
    right: 1rem;
}

.up-center {
    position: relative;
    top: 3rem;
}

.bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.bottom-right-login {
    bottom: 1rem;
    right: 1rem;
}