<form [formGroup]="Form1.FaseSiembra1" novalidate (ngSubmit)="SendFaseSiembra1Form()" *ngIf="fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_1">
    <div class="row">
        <div class="col-md-12 text-center text-muted">
            <br><h5 class="p-2 titulo-form-parte"><strong>PARTE 1</strong></h5>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="ArriendoTerreno"><strong>Arriendo del terreno</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="ArriendoTerreno" class="form-control" id="ArriendoTerreno"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                    (blur)="TransformAmount(Form1.ArriendoTerreno.Control.value, $event.target)" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.ArriendoTerreno.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.ArriendoTerreno.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="AnalisisSuelo"><strong>Costo de análisis de suelo</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="AnalisisSuelo" class="form-control" id="AnalisisSuelo"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                    (blur)="TransformAmount(Form1.AnalisisSuelo.Control.value, $event.target)" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.AnalisisSuelo.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.AnalisisSuelo.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>HERBICIDA</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoLitroHerbicida"><strong>Costo del litro de Herbicida</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoLitroHerbicida" class="form-control" id="CostoLitroHerbicida"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form1.CostoLitroHerbicida.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form1.CostoLitroHerbicida.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([Form1.CostoLitroHerbicida.Control.value, Form1.LitrosHerbicida.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalHerbicida)">
                <span class="invalid-feedback">{{ Form1.CostoLitroHerbicida.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="LitrosHerbicida"><strong>Litros de herbicida</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="LitrosHerbicida" class="form-control" id="LitrosHerbicida"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.LitrosHerbicida.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([Form1.CostoLitroHerbicida.Control.value, Form1.LitrosHerbicida.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalHerbicida)"
                    (keyup)="CalcularTotal([Form1.CostoLitroHerbicida.Control.value, Form1.LitrosHerbicida.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalHerbicida)">
                <span class="invalid-feedback">{{ Form1.LitrosHerbicida.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalHerbicida"><strong>Costo total de Herbicida</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalHerbicida" class="form-control" id="TotalHerbicida"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.TotalHerbicida.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.TotalHerbicida.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>ARADA</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoHoraArada"><strong>Costo de Arada</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoHoraArada" class="form-control" id="CostoHoraArada"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form1.CostoHoraArada.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form1.CostoHoraArada.ShowMsg }" placeholder="$ Costo por hora"
                (keyup)="CalcularTotal([Form1.CostoHoraArada.Control.value, Form1.HorasArada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalArada)">
                <span class="invalid-feedback">{{ Form1.CostoHoraArada.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalArada"><strong>Horas de Arada</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="HorasArada" class="form-control" id="HorasArada"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.HorasArada.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([Form1.CostoHoraArada.Control.value, Form1.HorasArada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalArada)"
                    (keyup)="CalcularTotal([Form1.CostoHoraArada.Control.value, Form1.HorasArada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalArada)">
                <span class="invalid-feedback">{{ Form1.HorasArada.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalArada"><strong>Costo total de Arada</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalArada" class="form-control" id="TotalArada"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.TotalArada.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.TotalArada.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>ROTOVETEADA</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoRotoveteada"><strong>Costo de Rotoveteada</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoRotoveteada" class="form-control" id="CostoRotoveteada"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form1.CostoRotoveteada.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form1.CostoRotoveteada.ShowMsg }" placeholder="$ Costo por hora"
                (keyup)="CalcularTotal([Form1.CostoRotoveteada.Control.value, Form1.HorasRotoveteada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalRotoveteada)">
                <span class="invalid-feedback">{{ Form1.CostoRotoveteada.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="HorasRotoveteada"><strong>Horas de Rotoveteada</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="HorasRotoveteada" class="form-control" id="HorasRotoveteada"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.HorasRotoveteada.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([Form1.CostoRotoveteada.Control.value, Form1.HorasRotoveteada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalRotoveteada)"
                    (keyup)="CalcularTotal([Form1.CostoRotoveteada.Control.value, Form1.HorasRotoveteada.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalRotoveteada)">
                <span class="invalid-feedback">{{ Form1.HorasRotoveteada.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalRotoveteada"><strong>Costo total de Rotoveteada</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalRotoveteada" class="form-control" id="TotalRotoveteada"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.TotalRotoveteada.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.TotalRotoveteada.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>JORNALES</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoJornal1"><strong>Valor del Jornal</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoJornal1" class="form-control" id="CostoJornal1"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form1.CostoJornal1.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form1.CostoJornal1.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form1.CostoJornal1.Control.value, Form1.CostoAlimentacionJornal1.Control.value], TIPO_CALCULO.SUMA), 
                    Form1.CantidadJornales1.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalJornales1)">
                <span class="invalid-feedback">{{ Form1.CostoJornal1.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoAlimentacionJornal1"><strong>Costo de alimentación</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoAlimentacionJornal1" class="form-control" id="CostoAlimentacionJornal1"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form1.CostoAlimentacionJornal1.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form1.CostoAlimentacionJornal1.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form1.CostoJornal1.Control.value, Form1.CostoAlimentacionJornal1.Control.value], TIPO_CALCULO.SUMA),
                    Form1.CantidadJornales1.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalJornales1)">
                <span class="invalid-feedback">{{ Form1.CostoAlimentacionJornal1.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CantidadJornales1"><strong>Cantidad de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="CantidadJornales1" class="form-control" id="CantidadJornales1"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.CantidadJornales1.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([
                        CalcularTotal([Form1.CostoJornal1.Control.value, Form1.CostoAlimentacionJornal1.Control.value], TIPO_CALCULO.SUMA), 
                        Form1.CantidadJornales1.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalJornales1)" 
                    (keyup)="CalcularTotal([
                        CalcularTotal([Form1.CostoJornal1.Control.value, Form1.CostoAlimentacionJornal1.Control.value], TIPO_CALCULO.SUMA),
                        Form1.CantidadJornales1.Control.value], TIPO_CALCULO.PRODUCTO, Form1.TotalJornales1)">
                <span class="invalid-feedback">{{ Form1.CantidadJornales1.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalJornales1"><strong>Costo total de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalJornales1" class="form-control" id="TotalJornales1"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form1.TotalJornales1.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form1.TotalJornales1.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2 text-center papapp-bg-light content-total-fase">
            <div class="col-md-6 offset-md-3">
                <label class="form-label text-secondary papapp-text-dark" for="TotalSiembra1"><strong>TOTAL | SIEMBRA (PARTE 1)</strong></label>
                <div class="input-group input-group">
                    <input type="text" formControlName="TotalSiembra1" class="form-control text-center bg-transparent papapp-text-dark fs-3 border-0" id="TotalSiembra1"
                        [ngClass]="{'is-invalid': Form1.TotalSiembra1.ShowMsg }" placeholder="$"
                        [value]="CalcularTotal([
                            Form1.ArriendoTerreno.Control.value, Form1.AnalisisSuelo.Control.value,
                            Form1.TotalHerbicida.Control.value, Form1.TotalArada.Control.value,
                            Form1.TotalRotoveteada.Control.value, Form1.TotalJornales1.Control.value], 
                            TIPO_CALCULO.SUMA, Form1.TotalSiembra1)">
                        <span class="invalid-feedback">{{ Form1.TotalSiembra1.ShowMsg }}</span>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="SendFaseSiembra1Form(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Volver</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Ir a la parte 2</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>
</form>

<form [formGroup]="Form2.FaseSiembra2" novalidate (ngSubmit)="SendFaseSiembra2Form()" *ngIf="fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_2">
    <div class="row">
        <div class="col-md-12 text-center text-muted">
            <br><h5 class="p-2 titulo-form-parte"><strong>PARTE 2</strong></h5>
        </div>
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>SURCADO</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TipoTraccion"><strong>Tipo de tracción</strong></label>
            <div class="input-group input-group">
                <select class="form-control" formControlName="TipoTraccion" id="TipoTraccion"
                [ngClass]="{'is-invalid': Form2.TipoTraccion.ShowMsg }">
                    <option [value]="0" selected>Seleccionar</option>
                    <option [value]="1">Tracción animal</option>
                    <option [value]="2">Tracción mecánica</option>
                </select>
                <span class="invalid-feedback">{{ Form2.TipoTraccion.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoHoraSurcado"><strong>Costo de Surcado</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoHoraSurcado" class="form-control" id="CostoHoraSurcado"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form2.CostoHoraSurcado.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form2.CostoHoraSurcado.ShowMsg }" placeholder="$ Costo por hora"
                (keyup)="CalcularTotal([Form2.CostoHoraSurcado.Control.value, Form2.HorasSurcado.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalSurcado)">
                <span class="invalid-feedback">{{ Form2.CostoHoraSurcado.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="HorasSurcado"><strong>Cantidad de horas de Surcado</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="HorasSurcado" class="form-control" id="HorasSurcado"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.HorasSurcado.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([Form2.CostoHoraSurcado.Control.value, Form2.HorasSurcado.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalSurcado)"
                    (keyup)="CalcularTotal([Form2.CostoHoraSurcado.Control.value, Form2.HorasSurcado.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalSurcado)">
                <span class="invalid-feedback">{{ Form2.HorasSurcado.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalSurcado"><strong>Costo total de Surcado</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalSurcado" class="form-control" id="TotalSurcado"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.TotalSurcado.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form2.TotalSurcado.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>INSECTICIDA</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoInsecticida"><strong>Costo de Insecticida</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoInsecticida" class="form-control" id="CostoInsecticida"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form2.CostoInsecticida.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form2.CostoInsecticida.ShowMsg }" placeholder="$ Costo por litro"
                (keyup)="CalcularTotal([Form2.CostoInsecticida.Control.value, Form2.LitrosInsecticida.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalInsecticida)">
                <span class="invalid-feedback">{{ Form2.CostoInsecticida.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="LitrosInsecticida"><strong>Litros de Insecticida</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="LitrosInsecticida" class="form-control" id="LitrosInsecticida"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.LitrosInsecticida.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([Form2.CostoInsecticida.Control.value, Form2.LitrosInsecticida.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalInsecticida)"
                    (keyup)="CalcularTotal([Form2.CostoInsecticida.Control.value, Form2.LitrosInsecticida.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalInsecticida)">
                <span class="invalid-feedback">{{ Form2.LitrosInsecticida.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalInsecticida"><strong>Costo total de Insecticida</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalInsecticida" class="form-control" id="TotalInsecticida"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.TotalInsecticida.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form2.TotalInsecticida.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>JORNALES</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoJornal2"><strong>Valor del Jornal</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoJornal2" class="form-control" id="CostoJornal2"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form2.CostoJornal2.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form2.CostoJornal2.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form2.CostoJornal2.Control.value, Form2.CostoAlimentacionJornal2.Control.value], TIPO_CALCULO.SUMA), 
                    Form2.CantidadJornales2.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalJornales2)">
                <span class="invalid-feedback">{{ Form2.CostoJornal2.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoAlimentacionJornal2"><strong>Costo de alimentación</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoAlimentacionJornal2" class="form-control" id="CostoAlimentacionJornal2"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form2.CostoAlimentacionJornal2.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form2.CostoAlimentacionJornal2.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form2.CostoJornal2.Control.value, Form2.CostoAlimentacionJornal2.Control.value], TIPO_CALCULO.SUMA),
                    Form2.CantidadJornales2.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalJornales2)">
                <span class="invalid-feedback">{{ Form2.CostoAlimentacionJornal2.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CantidadJornales2"><strong>Cantidad de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="CantidadJornales2" class="form-control" id="CantidadJornales2"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.CantidadJornales2.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([
                        CalcularTotal([Form2.CostoJornal2.Control.value, Form2.CostoAlimentacionJornal2.Control.value], TIPO_CALCULO.SUMA), 
                        Form2.CantidadJornales2.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalJornales2)" 
                    (keyup)="CalcularTotal([
                        CalcularTotal([Form2.CostoJornal2.Control.value, Form2.CostoAlimentacionJornal2.Control.value], TIPO_CALCULO.SUMA),
                        Form2.CantidadJornales2.Control.value], TIPO_CALCULO.PRODUCTO, Form2.TotalJornales2)">
                <span class="invalid-feedback">{{ Form2.CantidadJornales2.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalJornales2"><strong>Costo total de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalJornales2" class="form-control" id="TotalJornales2"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form2.TotalJornales2.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form2.TotalJornales2.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2 text-center papapp-bg-light content-total-fase">
            <div class="col-md-6 offset-md-3">
                <label class="form-label text-secondary papapp-text-dark" for="TotalSiembra2"><strong>TOTAL | SIEMBRA (PARTE 2)</strong></label>
                <div class="input-group input-group">
                    <input type="text" formControlName="TotalSiembra2" class="form-control text-center bg-transparent papapp-text-dark fs-3 border-0" id="TotalSiembra2"
                        [ngClass]="{'is-invalid': Form2.TotalSiembra2.ShowMsg }" placeholder="$"
                        [value]="CalcularTotal([Form2.TotalSurcado.Control.value, Form2.TotalInsecticida.Control.value, Form2.TotalJornales2.Control.value], 
                            TIPO_CALCULO.SUMA, Form2.TotalSiembra2)">
                        <span class="invalid-feedback">{{ Form2.TotalSiembra2.ShowMsg }}</span>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="SendFaseSiembra2Form(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Volver a la parte 1</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Ir a la parte 3</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>
</form>

<form [formGroup]="Form3.FaseSiembra3" novalidate (ngSubmit)="SendFaseSiembra3Form()" *ngIf="fases?.FaseActiva == FASES_CULTIVO.FASE_SIEMBRA_3">
    <div class="row">
        <div class="col-md-12 text-center text-muted">
            <br><h5 class="p-2 titulo-form-parte"><strong>PARTE 3</strong></h5>
        </div>
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>SEMILLAS</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoBultoSemilla"><strong>Costo de Semilla</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoBultoSemilla" class="form-control" id="CostoBultoSemilla"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoBultoSemilla.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoBultoSemilla.ShowMsg }" placeholder="$ Costo por bulto"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoBultoSemilla.Control.value, Form3.CostoTransporteSemilla.Control.value], TIPO_CALCULO.SUMA), 
                    Form3.BultosSemilla.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalSemilla)">
                <span class="invalid-feedback">{{ Form3.CostoBultoSemilla.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoTransporteSemilla"><strong>Costo de transporte</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoTransporteSemilla" class="form-control" id="CostoTransporteSemilla"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoTransporteSemilla.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoTransporteSemilla.ShowMsg }" placeholder="$ Costo por bulto"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoBultoSemilla.Control.value, Form3.CostoTransporteSemilla.Control.value], TIPO_CALCULO.SUMA), 
                    Form3.BultosSemilla.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalSemilla)">
                <span class="invalid-feedback">{{ Form3.CostoTransporteSemilla.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="BultosSemilla"><strong>Cantidad de bultos</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="BultosSemilla" class="form-control" id="BultosSemilla"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.BultosSemilla.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([
                        CalcularTotal([Form3.CostoBultoSemilla.Control.value, Form3.CostoTransporteSemilla.Control.value], TIPO_CALCULO.SUMA), 
                        Form3.BultosSemilla.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalSemilla)" 
                    (keyup)="CalcularTotal([
                        CalcularTotal([Form3.CostoBultoSemilla.Control.value, Form3.CostoTransporteSemilla.Control.value], TIPO_CALCULO.SUMA),
                        Form3.BultosSemilla.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalSemilla)">
                <span class="invalid-feedback">{{ Form3.BultosSemilla.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalSemilla"><strong>Costo total de bultos</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalSemilla" class="form-control" id="TotalSemilla"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.TotalSemilla.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form3.TotalSemilla.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>FERTILIZANTE</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoBultoFertilizante"><strong>Costo de Fertilizante</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoBultoFertilizante" class="form-control" id="CostoBultoFertilizante"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoBultoFertilizante.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoBultoFertilizante.ShowMsg }" placeholder="$ Costo por bulto"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoBultoFertilizante.Control.value, Form3.CostoTransporteFertilizante.Control.value], TIPO_CALCULO.SUMA), 
                    Form3.BultosFertilizante.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalFertilizante)">
                <span class="invalid-feedback">{{ Form3.CostoBultoFertilizante.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoTransporteFertilizante"><strong>Costo de transporte</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoTransporteFertilizante" class="form-control" id="CostoTransporteFertilizante"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoTransporteFertilizante.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoTransporteFertilizante.ShowMsg }" placeholder="$ Costo por bulto"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoBultoFertilizante.Control.value, Form3.CostoTransporteFertilizante.Control.value], TIPO_CALCULO.SUMA), 
                    Form3.BultosFertilizante.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalFertilizante)">
                <span class="invalid-feedback">{{ Form3.CostoTransporteFertilizante.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="BultosFertilizante"><strong>Cantidad de bultos</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="BultosFertilizante" class="form-control" id="BultosFertilizante"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.BultosFertilizante.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([
                        CalcularTotal([Form3.CostoBultoFertilizante.Control.value, Form3.CostoTransporteFertilizante.Control.value], TIPO_CALCULO.SUMA), 
                        Form3.BultosFertilizante.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalFertilizante)" 
                    (keyup)="CalcularTotal([
                        CalcularTotal([Form3.CostoBultoFertilizante.Control.value, Form3.CostoTransporteFertilizante.Control.value], TIPO_CALCULO.SUMA),
                        Form3.BultosFertilizante.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalFertilizante)">
                <span class="invalid-feedback">{{ Form3.BultosFertilizante.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalFertilizante"><strong>Costo total de bultos</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalFertilizante" class="form-control" id="TotalFertilizante"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.TotalFertilizante.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form3.TotalFertilizante.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 papapp-text-dark">
            <h6 class="p-2 titulo-form"><strong>JORNALES</strong></h6>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoJornal3"><strong>Valor del Jornal</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoJornal3" class="form-control" id="CostoJornal3"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoJornal3.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoJornal3.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoJornal3.Control.value, Form3.CostoAlimentacionJornal3.Control.value], TIPO_CALCULO.SUMA), 
                    Form3.CantidadJornales3.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalJornales3)">
                <span class="invalid-feedback">{{ Form3.CostoJornal3.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CostoAlimentacionJornal3"><strong>Costo de alimentación</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="CostoAlimentacionJornal3" class="form-control" id="CostoAlimentacionJornal3"
                (click)="ClearInput($event)" onCopy="return false" onPaste="return false" onDrag="return false"
                (blur)="TransformAmount(Form3.CostoAlimentacionJornal3.Control.value, $event.target)" autocomplete="off"
                [ngClass]="{'is-invalid': Form3.CostoAlimentacionJornal3.ShowMsg }" placeholder="$"
                (keyup)="CalcularTotal([
                    CalcularTotal([Form3.CostoJornal3.Control.value, Form3.CostoAlimentacionJornal3.Control.value], TIPO_CALCULO.SUMA),
                    Form3.CantidadJornales3.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalJornales3)">
                <span class="invalid-feedback">{{ Form3.CostoAlimentacionJornal3.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="CantidadJornales3"><strong>Cantidad de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="number" formControlName="CantidadJornales3" class="form-control" id="CantidadJornales3"
                    onCopy="return false" onPaste="return false" onDrag="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.CantidadJornales3.ShowMsg }" placeholder="#"
                    (change)="CalcularTotal([
                        CalcularTotal([Form3.CostoJornal3.Control.value, Form3.CostoAlimentacionJornal3.Control.value], TIPO_CALCULO.SUMA), 
                        Form3.CantidadJornales3.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalJornales3)" 
                    (keyup)="CalcularTotal([
                        CalcularTotal([Form3.CostoJornal3.Control.value, Form3.CostoAlimentacionJornal3.Control.value], TIPO_CALCULO.SUMA),
                        Form3.CantidadJornales3.Control.value], TIPO_CALCULO.PRODUCTO, Form3.TotalJornales3)">
                <span class="invalid-feedback">{{ Form3.CantidadJornales3.ShowMsg }}</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <label class="form-label text-secondary" for="TotalJornales3"><strong>Costo total de Jornales</strong></label>
            <div class="input-group input-group">
                <input type="text" formControlName="TotalJornales3" class="form-control" id="TotalJornales3"
                    (click)="ClearInput($event)" onCopy="return false" onPaste="return false" autocomplete="off"
                    [ngClass]="{'is-invalid': Form3.TotalJornales3.ShowMsg }" placeholder="$">
                    <span class="invalid-feedback">{{ Form3.TotalJornales3.ShowMsg }}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2 text-center papapp-bg-light content-total-fase">
            <div class="col-md-6 offset-md-3">
                <label class="form-label text-secondary papapp-text-dark" for="TotalSiembra3"><strong>TOTAL | SIEMBRA (PARTE 3)</strong></label>
                <div class="input-group input-group">
                    <input type="text" formControlName="TotalSiembra3" class="form-control text-center bg-transparent papapp-text-dark fs-3 border-0" id="TotalSiembra3"
                        [ngClass]="{'is-invalid': Form3.TotalSiembra3.ShowMsg }" placeholder="$"
                        [value]="CalcularTotal([Form3.TotalSemilla.Control.value, Form3.TotalFertilizante.Control.value, Form3.TotalJornales3.Control.value], 
                            TIPO_CALCULO.SUMA, Form3.TotalSiembra3)">
                        <span class="invalid-feedback">{{ Form3.TotalSiembra3.ShowMsg }}</span>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="SendFaseSiembra3Form(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Volver a la parte 2</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Finalizar</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>
</form>

<div *ngIf="fases?.FaseActiva == FASES_CULTIVO.TOTAL_FASE_SIEMBRA">
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <table class="table table-striped border">
                <thead>
                  <tr>
                    <th scope="col" class="papapp-text-dark">SIEMBRA</th>
                    <th scope="col" class="papapp-text-dark">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-secondary">
                    <th scope="row">PARTE 1: </th>
                    <td>{{ TransformAmount(Form1.TotalSiembra1.Control.value) }}</td>
                  </tr>
                  <tr class="text-secondary">
                    <th scope="row">PARTE 2: </th>
                    <td>{{ TransformAmount(Form2.TotalSiembra2.Control.value) }}</td>
                  </tr>
                  <tr class="text-secondary">
                    <th scope="row">PARTE 3: </th>
                    <td>{{ TransformAmount(Form3.TotalSiembra3.Control.value) }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6 offset-md-3 my-2 py-3 text-center">
            <div class="col-md-12 papapp-bg-light content-total-fase fs-4">
                <div class="col-md-12">
                    <label class="form-label papapp-text-dark"><strong>COSTO TOTAL</strong></label>
                </div>
                <div class="col-md-12">
                    <label class="papapp-text-dark">
                        <strong>{{ TransformAmount(CalcularTotal([
                                Form1.TotalSiembra1.Control.value, 
                                Form2.TotalSiembra2.Control.value, 
                                Form3.TotalSiembra3.Control.value], TIPO_CALCULO.SUMA).toString()) }}
                        </strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-left papapp-bg-light papapp-text-dark" (click)="Finalizar(true)">
                <div class="row position-relative">
                    <div class="col-md-2 position-absolute start-0 w-25"><i class="fas fa-arrow-left"></i></div>
                    <div class="col-md-8 offset-md-2 p-0"><strong>Volver</strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3 offset-md-6 d-grid my-3">
            <button class="btn general-btn btn-custom-transition form-btn-right papapp-bg-light papapp-text-dark" (click)="Finalizar()">
                <div class="row position-relative">
                    <div class="col-md-8 offset-md-2 p-0"><strong>Siguiente fase</strong></div>
                    <div class="col-md-2 position-absolute end-0 w-25"><i class="fas fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>    
</div>