@import 'assets/fontawesome/css/all.css';
@font-face {
    font-family: montserrat-bold;
    src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(assets/fonts/Montserrat-Medium.ttf);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: montserrat-regular;
}

.general-btn {
    background: #017457;
    color: #fff;
}

.btn-custom-transition {
    transition: transform .5s;
}

.form-btn-right:hover {
    transform: translateX(8px);
    color: #017457;
}

.form-btn-left:hover {
    transform: translateX(-8px);
    color: #017457;
}

.papapp-text-dark {
    color: #017457;
}

.papapp-text-light {
    color: #d0e5d2;
}

.papapp-bg-dark {
    background: #017457;
}

.papapp-bg-light {
    background: #d0e5d2;
}

.auth-card {
    color: #2f3542;
    border-top: 5px solid #017457;
    box-shadow: 3px 2px 15px black;
}

.img-login {
    height: -webkit-fill-available;
    z-index: -1;
    background-size: cover;
}

.titulo-form {
    border-left: 3px solid #017457;
    background: linear-gradient(45deg, #d0e5d2, transparent);
}

.titulo-form-parte {
    background: linear-gradient(0deg, lightgray, transparent);
}

.content-total-fase {
    border-bottom: 3px solid #017457;
    background: linear-gradient(0deg, #d0e5d2, transparent);
    border-radius: 15px;
}

.montserrat-bold {
    font-family: montserrat-bold;
}

.montserrat-regular {
    font-family: montserrat-regular;
}

.montserrat-medium {
    font-family: montserrat-medium;
}